@define-color bg  rgba(29, 32, 33, 0.6);
@define-color fg  #FBF1C7;
@define-color gr  #EBDBB2;
@define-color rd  #8EC07C;

* {
	border-radius: 8;
	font-family: JetBrainsMono-Bold, Symbols Nerd Font;
	font-size: 12px;
	padding: 1px;
	margin: 0px 2px;

}

window#waybar {
	background: transparent
}

#workspaces button:hover,
#workspaces button.active {
	color: @gr;
}

#workspaces button.urgent {
	color: @rd;
}

.modules-right,
.modules-center,
.modules-left {
	background: @bg;
	margin: 3px 3px 3px;
	border: 1px solid @fg;
	border-radius: 8px;
}


#clock 
#custom-weather {
	margin: 10px;
}

#custom-logo {
    background-image: url("~/.config/waybar/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
}

